app:
  name: 
  port: 
  encrytion:
    salt: 
    jwt_secret: 

db:
  host: 
  port: 
  username: 
  password: 
  dbname: 
  connection_pool:
    max_idle_connection: 
    max_open_connection: 
    max_lifetime_connection: 
    max_idletime_connection: 
